* ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    background-color: #97d9e1;
    text-align: center;
    overflow: hidden;
}
h1 {
    color: #fff;
    padding-top: 1rem;
    font-size: 2.5rem;
}